= simple_form_for @data_set do |f|
  = f.input :title
  = f.input :url
  = f.input :api_url
  = f.input :body, as: :summernote
  = f.input :tag_list

  #data-set-links.pb-4
    %h5.text-muted= t("related_info")
    #links-items
      = f.simple_fields_for :links do |link|
        = render 'link_fields', f: link
    = link_to_add_association '항목 추가', f, :links, class: "btn btn-outline-secondary", data: {"association-insertion-node" => "#links-items", "association-insertion-method" => "append"}

  = f.submit data: { disable_with: "Please wait..." }, class: 'btn btn-primary'
