= simple_form_for @data_set do |f|
  = f.input :archive_id, collection: Archive.all
  = f.input :title
  = f.input :url
  = f.input :api_url
  = f.input :publisher
  = f.input :file_type
  = f.input :properties
  = f.input :data_created_at
  = f.input :data_updated_at
  = f.input :license
  = f.input :memo
  = f.input :body, as: :summernote
  .form-group.string.optional
    = f.label :tag_list
    = f.text_field :tag_list, value: f.object.tags.join(', '), class: 'form-control string optional'

  #data-set-links.pb-4
    %h5.text-muted= t("related_info")
    #links-items
      = f.simple_fields_for :links do |link|
        = render 'link_fields', f: link
    = link_to_add_association '항목 추가', f, :links, class: "btn btn-outline-secondary", data: {"association-insertion-node" => "#links-items", "association-insertion-method" => "append"}

  = f.submit data: { disable_with: "Please wait..." }, class: 'btn btn-primary mr-2'
  = link_to '취소', @archive
