%h4.font-weight-bold.pb-2
  = t('main.title')
  - if params[:q].present?
    = "'#{params[:q]}'"

.row
  - @data_sets.each do |data_set|
    .col-12
      = render data_set

.d-flex.justify-content-center
  = paginate @data_sets