%h2.pb-2
  = t('menu.data_sets')
  - if params[:q].present?
    = "'#{params[:q]}'"
  %small
    = link_to t('menu.links'), links_path, class: "text-muted"

.row
  - @data_sets.each do |data_set|
    .col-12
      = render data_set

.d-flex.justify-content-center
  = paginate @data_sets