%section.py-3
  .form-container
    %h2.text-center.border-bottom.py-3.my-4 로그인하기
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs.border-bottom.py-3.my-4
        = f.input :email,                           |
          required: false,                          |
          autofocus: true,                          |
          placeholder: "이메일을 작성 해주세요.",   |
          input_html: { autocomplete: "email" }     |
        -#
        = f.input :password,                               |
          required: false,                                 |
          placeholder: "비밀번호를 작성 해주세요.",        |
          input_html: { autocomplete: "current-password" } |
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions.my-5
        = f.button :submit, "로그인", class: 'btn btn-full-orange btn-full py-2'
    %section.d-flex.align-items-center.justify-content-between
      = render "devise/shared/links"