.card.text-white.border
  .card-image
    = link_to archive do
      = image_tag archive.cover
  .card-img-overlay
    = link_to archive, class: "text-white" do
      %div{ style: 'position: absolute;' }
        %h3.verflow-hidden.text
          = archive.title
        %p 데이터 #{archive.data_sets.count}건

