= simple_form_for(@post) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  = f.input :archive_id, collection: Archive.all
  = f.input :title
  = f.input :cover
  = f.input :body, as: "summernote"
  = f.input :preview_link
  = f.submit data: { disable_with: "Please wait..." }, class: 'btn btn-primary btn-full py-3'
