- set_tags(og_title: "#{@post.title} - 빠띠 데이터퍼블릭", og_url: post_url(@post), og_image: rails_blob_url(@post.cover))
.container{ style: 'max-width: 720px;' }
  %section.py-5
    .mb-0
      = link_to t('menu.posts'), posts_path, class: 'text-white badge badge-primary'

    %h2.py-3.border-bottom.border-primary-2.border-bottom-dark= @post.title
    - if user_signed_in? && (@post.user == current_user || current_user.admin?)
      %small.py-1
        = link_to t('link.edit'), edit_post_path(@post), class: "btn btn-outline-primary"
        = link_to t('link.destroy'), @post, method: :delete, data: { confirm: "정말 삭제하시겠습니까?" }, class: "text-danger btn btn-outline-danger ml-2"

    .my-4
      .body-content
        = raw @post.body
      - if @post_og
        .row
          = @post_og['title']
        .row
          = @post_og['description']
        .row
          = image_tag @post_og['image']

  - if @post.archive.present?
    %section
      %h3.py-3.mb-4.border-bottom.border-primary-2.border-bottom-dark
        [아카이브]
        = link_to @post.archive.title, @post.archive
      .row
        - @post.archive.posts.each do |post|
          .col-md-6.col-sm-6.mb-4
            = render post

  %section.my-5
