%section
  %h5.text-muted= t('menu.tags')
  .mb-4
    - ActsAsTaggableOn::Tag.most_used(15).each do |tag|
      - if tag.taggings_count > 0
        = link_to tag_path(tag), class: 'btn btn-outline-secondary btn-sm mr-2 mb-2' do
          = "#{tag} (#{tag.taggings_count})"

%section
  %h5.text-muted 최신 데이터
  .mb-4.list-group
    - DataSet.limit(20).each do |data_set|
      = link_to data_set, class: "list-group-item list-group-item-action" do
        %h6.my-0= data_set.title

%section
  %h5.text-muted 최신 관련자료
  .mb-4.list-group
    - Link.limit(20).each do |link|
      = link_to link.data_set, class: "list-group-item list-group-item-action" do
        %h6.my-0= link.title

%section
  .mb-4
    .border.p-3
      .media
        = image_tag 'parti_symbol.png', width: 70, class: "mr-3"
        .media-body
          %h5.mt-0= link_to '빠띠 데이터 활동가 커뮤니티', "https://democracy-activists.parti.xyz/p/data_activists", target: "_blank", class: "text-dark"
          = link_to "데이터로 더 투명하고 신뢰하는 사회를 만듭니다", "https://democracy-activists.parti.xyz/p/data_activists", target: "_blank", class: "text-dark"
