%footer.mt-5.py-4.border-top
  .container
    %ul.list-inline
      %li.list-inline-item
        = link_to '사회적협동조합 빠띠', 'https://parti.coop', target: :blank, class: "text-dark"
      %li.list-inline-item
        = link_to "빠띠 데이터퍼블릭 소개", about_path, class: "text-dark"
      %li.list-inline-item
        = link_to "문의", "https://democracy-activists.parti.xyz/p/data_activists", target: "_blank", class: "text-dark"
      %li.list-inline-item
        %a.text-dark.a-last{:href => "#"} 이용약관

  .foot-parti
    .container
      .d-flex.mb-3.align-items-center
        = image_tag 'parti_symbol_new.png', width: 30, class: "mr-2"
        %h4.m-0
          = link_to "https://democracy-activists.parti.xyz/p/data_activists", target: "_blank", class: "text-dark font-weight-bold" do
            %span.font-weight-bold 빠띠 데이터 활동가 그룹
            %small
              %span 서민 주도로 모두의 데이터를 만듭니다
