!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 데이터퍼블릭
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.bg-light
    %header
      .container
        .py-5.text-center
          %span.display-3.bg-dark.text-white.rounded.px-3.font-weight-bold D
          %h2.mt-4
            %span.font-weight-bold 데이터:퍼블릭
            %small.font-weight-light .kr
          %p.p-2.lead.text-muted
            사회적으로 이슈가 된 사안들이나 주요 기관이 보유한 원 데이터들을 아카이브합니다.
          %p.p-2
            - if user_signed_in?
              = link_to '아카이브 시작하기', '#', class: 'btn btn-primary btn-lg'
            - else
              = link_to '함께 아카이브하기', new_user_session_path, class: 'btn btn-primary'
              = link_to '에디터 신청하기', new_user_registration_path, class: 'btn btn-secondary'

    %main
      .container
        .row
          .col-md-4.order-md-2.mb-4
            %h4 최신 데이터

          .col-md-8.order-md-1
            = yield

    %footer.my-5.pt-5.text-muted.text-center.text-small
      %p.mb-1
        = link_to '더 민주적인 세상, 빠띠 쿱', 'https://parti.coop', target: :blank
      %ul.list-inline
        %li.list-inline-item
          %a{:href => "#"} 문의
        %li.list-inline-item
          %a{:href => "#"} 이용약관
        %li.list-inline-item
          %a{:href => "#"} 개인정보취급방침
